@import "tailwindcss";
html {
    scroll-behavior: smooth;
--primary: #212a31;
--secondary: #2e3944;
--accent: #124e66;
--light: #748d92;
--neutral: #d3d9d4;
scrollbar-width: thin; 
scrollbar-color: var(--accent) var(--neutral);
background-color: var(--neutral);
color: var(--primary);
font-family: 'Vazir', sans-serif; 
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: var(--neutral); 
border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
background: var(--accent); 
border-radius: 5px; 
border: 2px solid var(--neutral); 
}

::-webkit-scrollbar-thumb:hover {
background: var(--secondary);
}


.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-accent { background-color: var(--accent); }
.bg-light { background-color: var(--light); }
.bg-neutral { background-color: var(--neutral); }
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-accent { color: var(--accent); }
.text-light { color: var(--light); }
.text-neutral { color: var(--neutral); }